@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html {
  background-color: #FFFFFF;
}

h4 {
  margin: 0;
}

.App {
  text-align: center;
}


.MuiButton-label {
  pointer-events: none;
}

#main-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
