html {
  background-color: rgb(225, 225, 225);
}

h4 {
  margin: 0;
}

.App {
  text-align: center;
}

.MuiDrawer-paperAnchorLeft {
  padding: 20px;
}

.MuiButton-label {
  pointer-events: none;
}

#main-container {
  flex-grow: 1;
  margin: 64px auto 0 75px;
  height: Calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(225, 225, 225);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

